[user]
	email = evsign@live.ru
	name = Alexandr Evsigneev
[alias]
	co = checkout
  	ci = commit
  	st = status
  	br = branch
  	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  	scf = diff-tree --no-commit-id --name-only -r
  	type = cat-file -t
  	dump = cat-file -p
[core]
	editor = vim
	excludesfile = ~/.gitexcludes
